fastapi
uvicorn[standard]
openai
redis
python-dotenv
git+https://github.com/openai/whisper.git

gTTS
pydantic
tiktoken
sentence-transformers
faiss-cpu
numpy
sounddevice
scipy
textblob
cryptography
better_profanity
websockets
requests
pydub
python-multipart